---
import Layout from "../layouts/Layout.astro";
import Card, { type Props } from "../components/Card.astro";
import type { Code, Debug } from "astro:components";

const userInfo: Props = {
  avatar: "images/image-victor.jpg",
  name: "Victor Crest",
  age: "26",
  city: "London",
  userMetrics: {
    followers: "80K",
    likes: "803K",
    photos: "14K",
  },
};
---

<Layout title="Profile Card Component.">
  <main
    class="bg-c-darkCyan h-screen grid place-content-center relative overflow-hidden">
    <img
      src="images/bg-pattern-top.svg"
      class="absolute top-0 left-0 -translate-y-1/2"
    />
    <img
      src="images/bg-pattern-bottom.svg"
      class="absolute bottom-0 right-0 translate-y-1/2"
    />
    <Card {...userInfo} />
  </main>
</Layout>
