---
export interface Props {
  avatar: string;
  name: string;
  age: string;
  city: string;
  userMetrics: UserMetrics;
}
export interface UserMetrics {
  followers: string;
  likes: string;
  photos: string;
}

const { avatar, name, age, city, userMetrics } = Astro.props;
---

<article class="w-[350px] bg-white flex flex-col items-center z-50 rounded-2xl rounded-t-3xl">
  <div class="flex justify-center relative">
    <img
      src="images/bg-pattern-card.svg"
      class="rounded-t-2xl"
    />
    <img
      src={avatar}
      alt="user avatar"
      class="absolute bottom-0 translate-y-1/2 rounded-full outline outline-white outline-[5px]"
    />
  </div>
  <div class="flex flex-col items-center gap-1 mt-12 p-5">
    <div class="flex gap-2">
      <h2>{name}</h2>
      <span>{age}</span>
    </div>
    <span>{city}</span>
  </div>
  <div></div>
</article>
